<div class="form_container">
  <lendwell-header></lendwell-header>
  <div class="form__container">
    <div class="form__title">
      <h4 class="Title">Your Mortgage</h4>
      <h4 class="Subtitle">Calculate your Mortgage</h4>
    </div>
    <div class="form__container-data-input">
      <form [formGroup]="mortgageForm">
        <div class="formGroup">
          <div class="inputGroup">
            <span class="form-icon"><mat-icon>help</mat-icon></span><span>Borrowing Amount</span><span
            class="importance">Required</span>
          </div>
          <div class="form__container-data-input-field">
            <mat-form-field>
              <input matInput formControlName="loanAmount" placeholder="Enter Borrowing Amount"/>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
