$container-background: #FFF;
$app-background: #F3F7FF;
$active-color: #014DFF;
$inactive-button-background: #E5EDFF;
$required-text: #98A0B2;
$input-focus:#BFD2FF;
$icon-color: #98A0B2;
$gradient-start: #E5EDFF;
$gradient-end: #BFD2FF;
$title-color: #7A8499;
$title-desc-color: #363C4D;
$control-background: #B8BECC;
$prefix-color: #596580;
$title-desc-color-blur: #363C4D;
$card-value-color: #013ABF;
