@import '../../../variables';
@import '../../../_utils';

.header {
  &__conrainer {
    display: flex;
    background-color: $container-background;
    justify-content: space-between;
    align-items: Flex-start;
    padding: 1rem;

    img {
      height: 40px;
      width: 34.75px;
    }

    @include responsive-below-md {
      flex-direction: column;
      align-items: center;
    }
  }
}


